* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --check-color: rgb(210, 123, 47);
    --text-green: rgb(32, 67, 16);
    --primary-green: #4a5a4f;
    --secondary-grey: #2b2f2c;
  }

.orange {
    color: var(--check-color);
}

.green {
    color: var(--text-green)
}

.sec-grey {
    color: var(--secondary-grey)
}

.prim-green {
    color: var(--primary-green)
}

.categ {
    font-size: smaller;
    margin-bottom: 0;
}

body {
    background-color: rgb(42, 39, 39);
    position: relative;
}

.container {
    max-width: 1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

/*[class^="col-"] {
    padding: 10px;
}*/


/* SM */
@media screen and (min-width: 568px) {
    
    .cards-photos{
        height: 450px;
        width: 100%;
    }
    .photo-title{
        width: 85%;
        font-size: large;
        line-height: 1.5rem;
    }

    .jumbotron {
        margin-top: -220px;
    }

    .cerca {
        width: 50%;
    }
    .tre-filtri{
        display: block;
    }

  }

@media screen and (min-width: 576px) {

    .cards-photos{
        height: 280px;
        width: 100%;
    }
    .photo-title{
        width: 85%;
        font-size: medium;
        line-height: 1rem;
    }
    .tre-filtri{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 668px) {
    .cards-photos{
        height: 323px;
    }
    
  }
  
@media screen and (min-width: 768px) {
    .cards-photos{
        height: 245px;}

    .photo-title{
        width: 85%;
        font-size: medium;
        line-height: 1.2rem;
    }
}

@media screen and (min-width: 880px) {
    .cards-photos{
        height: 280px;
    }

    
}

@media screen and (min-width: 1024px) {
    .cards-photos{
        height: 323px;
    }
    .photo-title{
        line-height: 1rem;
    }
    .jumbotron {
        margin-top: -180px;
    }
}

@media screen and (min-width: 1200px) {
    .cards-photos{
        height: 323px;}
}

@media screen and (min-width: 1440px) {
    .cards-photos{
        height: 330px;}
}

